################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicApi/.vs
/MusicApi/MusicApi/Properties
/MusicApi/MusicApi/bin/Debug/net5.0
/MusicApi/MusicApi/obj/Debug/net5.0
